@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box
}

a,
p,
h1,
h2,
h3,
button,
input{
    font-family: 'Nunito Sans', sans-serif;
} 

#form{
    display       : grid;
    place-content : center;
    min-height    : 95vh;
}

.myModal{
    .modal-header{
        border-bottom: hidden!important;
    }
    .modal-footer{
        border-top: hidden!important;

    }
    .close {
        background-color: #ffffff!important;
        color: black;
        border: 1px solid #E0E0E0;
    }
    .inputGroup{
        border: 2px solid #EDEDED;
        border-radius: 8px;
       
    }
   
}