.box {
    padding: 16px;
    gap: 8px;
    width: 326px;
    border: 1px solid #01959F;
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    .bx-group{
        border: 1px solid #4DB5BC;
        border-radius: 4px; 
        padding: 2px 8px;
        width: 100px;
        color: #4DB5BC;
    }
    .desc{
        font-weight: 700;
    }
    .bx-task{
        border: none;
        background-color: white;
    }
    
}

.myModal{

    .input-progress{
        width:50%
    }
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #4DB5BC; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 30%;
    left: 50%;
//   margin-top: -50px;
  margin-left: -100px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
