
.navbar {
    border-bottom: 1px solid #E0E0E0 ;

    span{
        font-weight: 700;
    }  
}

.btn {
    border-radius:10px;
    background-color: #2F959F;
    font-weight: 700;
    font-size: 12px;  
    width: 138px;
    span{
        font-weight: 700;     
    } 
}





